<% layout('layout') -%>
<section class="auth">
  <h1>Admin Login</h1>
  <% if (typeof error !== 'undefined') { %>
    <div class="error"><%= error %></div>
  <% } %>
  <form method="post" action="/admin-login" class="auth-form">
    <label>Email</label>
    <input type="email" name="email" placeholder="admin@example.com" required />
    <label>Password</label>
    <input type="password" name="password" placeholder="Password" required />
    <label>Secret Code</label>
    <input type="text" name="code" placeholder="Code" required />
    <button type="submit" class="button">Login</button>
  </form>
</section>
